html {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#002395, #72C7E7);
  color: #B95800;
  text-shadow: 1px 1px 2px #ED2939;
}

#controls p {
  line-height: 20px;
}

.arrow {
  font-size:1.3em;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 6; text-align: center; }
  .div2 { grid-area: 2 / 3 / 6 / 4; text-align: center; }
  .div3 { grid-area: 2 / 4 / 6 / 6; text-align: center; }
  .div4 { grid-area: 2 / 1 / 6 / 3; text-align: center; }

#canvas {
  display: inline-block;
  margin-left: 25px;
}

#highscores {
  width: 100%;
}

.div4 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.div4 th, td {
  padding: 5px;
}
  
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #002395;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

#start, #home {
  border-radius: 6px;
  border: 2px solid rgb(160, 47, 47);
  background-color:black;
  transition-duration: 0.4s;
  padding: 12px 28px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: white;
}
  
#start:hover {
    background-color: #B95800;
    color: white;
}


#pause-screen {
  text-align: center;
  line-height: 20px;
  background-image: linear-gradient( #002395,rgb(67, 132, 211));
  margin: 100px auto; /* 15% from the top and centered */
  padding: 100px 0 20 20;
  border: 1px solid #888;
  width: 270px;
  height: 500px; /* Could be more or less, depending on screen size */
}