#scoretable {
    text-align: center;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }


#scoreboard {
    background-color: rgb(174, 174, 174);
    height: 570px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 30px;
    text-align: center;
    width: 600px;
}